<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>online learning</title>
    <style>
        html, body{
            background:rgb(56, 56, 56);
            color:white
        }

        a{
            color:white !important
        }
    </style>
</head>
<body>
    <a href="/">home</a>


    <form action="/" method="get">
        <% if(typeof(q) != 'undefined'){ %>
             <input value="<%= q? q:'' %>" type="search" name="q">
        <% }else{ %>
            <input type="search" name="q">
        <% } %>
        <button>search</button>
    </form>
    <hr>
