<%- include('../layout/header.ejs') %>

    <form action="/room/store" method="post">
        <input type="text" name="title" id="">
        <input type="text" name="description" id="">
        <input type="submit" name="" id="">
    </form>

<%- include('../layout/footer.ejs') %>